.centered{
    width: auto;
    height: auto;
    display: inline-block;
    text-align: center;
    align-self: center;
    padding-left: 40%;
    padding-right: 33%;
    padding-top: 5em;
}
button{
    margin-right: 10px;
    margin-left: 10px;
}
