<div class = "centered"><p-card header="Sign in" [style]="{'width': 'auto', 'margin-bottom': '2em'}">
<p><label>Email address:</label></p>
<p><input type="text"  placeholder="Type email here" (change)="onEmailChange($event)"/></p>
<p><label>Password</label></p>
<p><input type="password" placeholder="Type password here" (change)="onPasswordChange($event)" /></p>
<p><button pButton class="p-button-sm p-button-rounded" (click)="SignInClick()">Sign in</button>
<button pButton class = "p-button-sm p-button-rounded" routerLink='/register'>Register</button></p>
<label *ngIf="invalid"><p><p-message severity="error" text="Given data is invalid."></p-message></label>
</p-card>
</div>