<!-- <p-card header="Hello client!">
    <div>
        Your balance: <b>{{accounts[0].moneyAmount}} {{accounts[0].currency}}</b>
    </div>
    <button pButton label="Money transfer" class="p-button-rounded"
        style="width: 100%;  margin-top: 2ex; margin-bottom: 2ex; margin-right: 2ex; margin-left: 2ex;"></button>
    <button pButton label="Close account" class="p-button-rounded"
        style="width: 100%;  margin-top: 2ex; margin-bottom: 2ex; margin-right: 2ex; margin-left: 2ex;"></button>
</p-card> -->