<div class="sign-in-container">
    <p-card>
        <ng-template pTemplate="header" >
            <div class="header" style="padding-top: 20px; text-align: center;">
                <h1 style="margin: 0;">Sign in</h1>
            </div>
        </ng-template>
        <div>
            <span class="p-float-label" style="width: 100%;">
                <input id="username" type="text" pInputText [(ngModel)]="username" style="width: 100%;"> 
                <label for="username">Username</label>
            </span>
            <span class="p-float-label" style="margin-top: 24px;">
                <input id="password" type="text" pInputText [(ngModel)]="password" style="width: 100%;"> 
                <label for="password">Password</label>
            </span>
        </div>

        <div style="width: 100%; margin-top: 60px; text-align: center;">
            <div>
                <button pButton label="Sign in" class="p-button-rounded" (click)="signIn()" style="width: 100%;"></button>
            </div>
            <div style="margin-top: 10px;">
                <button pButton label="Don't have an account yet?" class="p-button-sm p-button-secondary p-button-text" routerLink="/sign-up" style="width: 100%;"></button>
            </div>
        </div>
    </p-card>
</div>