<div class="sign-up-container">
    <p-card>
        <ng-template pTemplate="header" >
            <div style="padding-top: 20px; text-align: center;">
                <h1 style="margin: 0;">Sign up</h1>
            </div>
        </ng-template>
        <div>
            <span class="p-float-label">
                <input required minlength="6" id="username" type="text" pInputText [(ngModel)]="username" #username_control="ngModel" [ngClass] = "{'ng-invalid': (username_control.touched && username_control.invalid) }" style="width: 100%;"> 
                <label for="username">Username</label>
            </span>
            <div *ngIf="username_control.touched && username_control.errors?.['required']"> <p-message severity="error" text="Username is required"></p-message></div>
            <div *ngIf="username_control.touched && username_control.errors?.['minlength']"> <p-message severity="error" text="Username must be at least 6 characters long"></p-message></div>


            <span class="p-float-label" style="margin-top: 24px;">
                <input required id="first-name" type="text" pInputText [(ngModel)]="firstName" #firstname_control="ngModel" [ngClass] = "{'ng-invalid': (firstname_control.touched && username_control.invalid) }" style="width: 100%;"> 
                <label for="first-name">First name</label>
            </span>
            <div *ngIf="firstname_control.touched && firstname_control.invalid"> <p-message severity="error" text="First name is required"></p-message></div>
            <span class="p-float-label" style="margin-top: 24px;">
                <input required id="last-name" type="text" pInputText [(ngModel)]="lastName" #lastname_control="ngModel"  [ngClass] = "{'ng-invalid': (lastname_control.touched && lastname_control.invalid) }" style="width: 100%;"> 
                <label for="last-name">Last name</label>
            </span>
            <div *ngIf="lastname_control.touched && lastname_control.invalid"> <p-message severity="error" text="Last name is required"></p-message></div>

            <div style="margin-top: 24px;">
                <p-calendar [minDate] = "minCalendarDate" [maxDate]="maxCalendarDate" inputId="basic" [(ngModel)]="dateOfBirth" placeholder="Date of birth" #calendar_control="ngModel" [ngClass] = "{'ng-invalid': (calendar_control.touched && calendar_control.invalid) }"></p-calendar>
            </div>
            <div *ngIf="calendar_control.touched && calendar_control.invalid"> <p-message severity="error" text="Birth date is required"></p-message></div>

            <span class="p-float-label" style="margin-top: 24px;">
                <input required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
                id="password" type="text" pInputText [(ngModel)]="password" #password_control="ngModel" [ngClass] = "{'ng-invalid': (password_control.touched && password_control.invalid) }" style="width: 100%;"> 
                <label for="password">Password</label>
            </span>
            <div *ngIf="password_control.touched && password_control.errors?.['required']"> <p-message severity="error" text="Password is required"></p-message></div>
            <div *ngIf="password_control.touched && password_control.errors?.['pattern']"> <p-message severity="error" text="Password must contain at least 8 symbols, a lower case letter, an upper case letter and a digit"></p-message></div>



            <span class="p-float-label" style="margin-top: 24px;">
                <input required 
                id="repeated-password" type="text" pInputText [(ngModel)]="repeatedPassword" #repeated_control="ngModel" [ngClass] = "{'ng-invalid': (repeated_control.touched && repeatedPassword!=password) }" style="width: 100%;"> 
                <label for="repeated-password">Repeat password</label>
            </span>
            <div *ngIf="repeated_control.touched && repeatedPassword!=password"> <p-message severity="error" text="Passwords don't match"></p-message></div>

        </div>

        <div style="width: 100%; margin-top: 60px; text-align: center;">
            <div>
                <button pButton label="Sign up" class="p-button-rounded" (click)="signUp()" style="width: 100%;"></button>
            </div>
            <div style="margin-top: 10px;">
                <button pButton label="Already have an account?" class="p-button-sm p-button-text p-button-secondary" routerLink="/" style="width: 100%;"></button>
            </div>
        </div>
    </p-card>
</div>