.register{
    padding-left: 50px;
    width: 50%;
}
label {
    display: inline-block;
    width: 150px;
    text-align: right;
    padding-right: 25px;
  }
  button{
    margin-right: 10px;
    margin-left: 10px;
}