<div class="register"><p-card header="Register Client">
<p><label>First name:</label>
<input type="text" (change)="onNameChange($event)"/></p>
<p><label>Last name:</label>
<input  type="text" (change)="onLastNameChange($event)"/></p>
<p><label>Date of birth:</label>
<input type="date" (change)="onDateChange($event)"/></p>
<p><label>Email adress:</label>
<input  type="text" (change)="onEmailChange($event)"/></p>
<p *ngIf="wrong_email"><p-message severity="error" text="This email address is invalid"></p-message></p>
<p><label>Password:</label>
<input type="password" (change)="onPasswordChange($event)"/></p>
<p *ngIf="wrong_password"><p-message severity="error" text="A password must contain 8 characters, at least 1 letter and at least 1 number"></p-message></p>

<p><label>Repeat password:</label>
<input  type="password" (change)="onRepeatedPasswordChange($event)"/></p>
<p *ngIf="wrong_repeated_password"><p-message severity="error" text="Passwords don't match"></p-message></p>

<p><button pButton pRipple class="p-button-sm p-button-rounded"  (click)="RegisterUser">Register</button>
<button pButton  class="p-button-sm p-button-rounded" routerLink=''>Go back to sign in page</button></p></p-card>
</div>